---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

/* Light Mode */
html:not([data-mode]),html[data-mode=light] {
  --blockquote-border-color: #d3d3d3;
  --blockquote-text-color: #000000;
}

/* Dark mode */
html[data-mode=dark]{
  --blockquote-border-color: rgb(97, 97, 97);
  --blockquote-text-color: rgb(175, 176, 177);
}
